In [1]:
import dask.dataframe as dd

In [2]:
df = dd.read_csv('/tmp/products.csv')

In [4]:
df.head()

                            title  price
0          Granite Shirt b6ff24d2  86.15
1                  Bacon 27cf33e2  35.67
2       Unbranded Cheese 1c3925ec  69.00
3                    Hat 9f98d5a7  26.38
4  Unbranded Steel Bacon 22f7e39d  37.61

In [5]:
df.tail()

                          title  price
95  Rustic Wooden Soap 948b785a  34.46
96    Intelligent Ball 7aaeb138  97.82
97       Concrete Ball 93b58e0a  82.94
98            Sausages 18573661  36.61
99      Gorgeous Shirt b14d2135  67.06

In [7]:
Product.objects.all().delete()

(100, {'product.Product': 100})

In [8]:
def save_data(data):
    '''
    Salva os dados no banco.
    '''
    aux = []
    for item in data:
        title = item.get('title')
        price = item.get('price')
        obj = Product(
            title=title,
            price=price,
        )
        aux.append(obj)

    Product.objects.bulk_create(aux)

In [9]:
data = []

In [16]:
for index, row in df.iterrows():
    _dict = dict(title=row.title, price=row.price)
    data.append(_dict)

In [17]:
save_data(data)

In [18]:
Product.objects.all().count()

100